@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
    line-height: 1.2;
}

/* override css input password  */
.ant-input-password .ant-input {
    background-color: transparent !important;
    color: white;
    border-color: #333333 !important;
}
.ant-input-password {
    --tw-border-opacity: 1;
    border-color: rgb(51 51 51 / var(--tw-border-opacity));
}
.ant-input-password .ant-input-suffix .ant-input-password-icon {
    color: #333333;
}
.ant-input-password .ant-input-suffix .ant-input-password-icon:hover {
    color: #333333;
}

button[disabled] {
    background-color: #0063f7 !important;
    border-color: transparent !important;
    cursor: none;
}

button[disabled] > span {
    color: white;
}

/* Override autofill input */

input:-internal-autofill-selected {
    background-color: transparent !important;
}
